.label {
  @apply
    block 
    text-sm 
    font-medium 
    text-gray-700;
}

.button {
  @apply
    relative 
    w-full 
    bg-white 
    border border-gray-300 
    rounded-md 
    shadow-sm 
    pl-3 pr-10 py-2 
    text-left 
    cursor-default 
    focus:outline-none 
    focus:ring-1 
    focus:ring-indigo-500 
    focus:border-indigo-500 
    sm:text-sm;
}

.img {
  @apply
    flex-shrink-0 
    h-6 
    w-6 
    rounded-full;
}

.selectorIconContainer {
  @apply 
    ml-3 
    absolute 
    inset-y-0 
    right-0 
    flex 
    items-center 
    pr-2 
    pointer-events-none;
}

.selectorIcon {
  @apply 
    h-5 
    w-5 
    text-gray-400;
}

.listBoxOptions {
  @apply 
    absolute 
    z-10 
    mt-1 
    w-full 
    bg-white 
    shadow-lg 
    max-h-56 
    rounded-md 
    py-1 
    text-base 
    ring-1 
    ring-black 
    ring-opacity-5 
    overflow-auto 
    focus:outline-none 
    sm:text-sm
    list-none;
}

.checkIcon {
  @apply 
    h-5 
    w-5;
}

.buttonContainer {
  @apply 
    mt-1 
    relative;
}

.imgContainer {
  @apply 
    flex 
    items-center;
}

.itemText {
  @apply
    ml-3 
    block 
    truncate;
}

.text {
  @apply 
    cursor-default 
    select-none 
    relative 
    py-2 pl-3 pr-9;
}

.inactiveText {
  @apply 
    text-gray-900;
}

.activeText {
  @apply 
    text-white 
    bg-indigo-600;
}

.optionContainer {
  @apply 
    flex 
    items-center;
}

.activeOptionText {
  @apply
    text-white;
}

.inactiveOptionText {
  @apply 
    text-indigo-600;
}

.optionText {
  @apply 
    absolute 
    inset-y-0 
    right-0 
    flex 
    items-center 
    pr-4;
}

.font {
  @apply 
    ml-3 
    block 
    truncate;
}

.selectedFont {
  @apply 
    font-semibold;
}

.normalFont {
  @apply 
    font-normal;
}